body {
    border-style: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
form {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 50px 35px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 380px;
    } 
form H2 {
    font-family: 35px;
    color: #0D0D0D;
    margin: 0;
    }
form p {
    font-size: 16px;
    color: #5e5e5E;
    margin-bottom: 35px;

    }
.input-wrapper {
    position: relative;
    width: 305px;
    margin-bottom: 35px;
    }
input {
    color: black;
    padding: 20px 15px 20px 60px;
    width: 300px;
    border-radius: 25px;
    border: 0;
    box-shadow: 0 0 20px rgba(192, 203, 251, 0.7);
    outline: none;
    font-size: 15px;
    }
.input::placeholder{
    font-size: 16px;
    color: #EEEEEEb2;
        }
.input-icon {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 20px;
    top: 50%;
    transform: translateY(-55%);
    }

.btn {
    width: 100%;
    padding: 20px;
    background: linear-gradient(
        90dge,
        rgba(140, 43, 231, 1) 45%,
        rgba(61, 1, 245, 1) 100%);
        text-transform: uppercase;
        font-size: 20px;
        cursor: pointer;
    transition:linear background-color 1.1s;
    }
.btn.btn:hover {
    background: rgba(143, 57, 253);
    color: white;
    font-weight: 900;

    }
.success {
    position: absolute;
    top: 50px;
    color: #00c83c;
    font: 18px;
    }
.success {
    position: absolute;
    top: 50px;
    color: #E02D00;
    font: 18px;
}
@media(max-width:991px) {
    body {
        padding: 20px;
    }
    form {
        padding: 20px;
        width: 100%;
    }
    .input-wrapper {
        position: relative;
        width: 88%;
        margin-bottom: 35px;
    }
    input {
        padding: 20px 0px 20px, 45px;
    }
    .input-icon {
        height: 20px;
        width: 20px;
    }
}